.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.logo-container {
  display: flex;
  align-items: center;
  user-select: none;
  font-family: Arial, sans-serif;
  letter-spacing: 0;
  transition: letter-spacing 0.5s ease;
  animation: drop-down 1.8s ease;
}

.logo-container:hover {
  opacity: 75%;
  letter-spacing: -2px;
  transition: letter-spacing 0.5s ease;
}

.logo-text {
  font-size: 50px;
  font-weight: bold;
  margin-left: 10px;
}

@keyframes drop-down {
  0% {
    letter-spacing: 10px;
  }
  70% {
    transform: translateY(10px);
    letter-spacing: -3px;
  }
  100% {
    transform: translateY(0);
    letter-spacing: 0;
  }
}